[submodule "fillit"]
	path = fillit
	url = https://github.com/Mateorus/21_fillit.git
	branch = master
[submodule "libft"]
	path = libft
	url = https://github.com/Mateorus/21_libft.git
	branch = master
[submodule "init"]
	path = init
	url = https://github.com/Mateorus/21_init.git
	branch = master
